@charset "utf-8";
/* CSS Document */

/*   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)  v1.4 2009-07-27 | Authors: Eric Meyer &amp; Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#434343; text-decoration:none; }

mark { background-color:#ff9; color:#434343; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #434343; cursor:help; }

/* tables still need cellspacing=&quot;0&quot; in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

html { overflow-y: scroll; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }








/* begin here */
html {
    font-size: 100%;	
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #434343;
    background-color: #eaeaea;
    font-size: 77%;
    min-width: 960px;
}

a {
    color: #434343;
    text-decoration: underline;	
}

a:hover, a:active, a:focus {
    color: #355e8a;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    padding: 5px 0;
    text-align: left;	
    color:#434343;
}

.center h1, .center h2, .center h3, .center h4, .center h5, .center h6 {
    text-align: center;
}

h1, .biggest {
    font-size: 250%;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1{
    margin: 0;
    padding:0;
}

h2, .huge {
    font-size: 210%;
	padding-bottom: 15px;
}

h3, .very_big {
    font-size: 160%;
}

h4, .bigger {
    font-size: 130%;
    text-align:center;
}

h5, .big {
    font-size: 115%
}

h6, .slightly_bigger {
    font-size: 105%;
}

.small {
    font-size: 90%;	
}

.smaller {
    font-size: 80%;
}

.smallest {
    font-size: 70%;	
}

hr {
    padding: 0;
    margin: 0;	
}

p{
    line-height:145%;
}

div#all {
    width: 100%;
}

div#up {
    padding: 0;
    color: #ffffff;
    background-color: #355e8a;
    font-size: 12px;
    border-bottom:1px solid #2e2e2e;
    height:30px;
    background: -moz-linear-gradient(top, #5284ac 0%, #355e8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#5284ac), to(#355e8a));
    background: -o-gradient(#5284ac , #355e8a);
    line-height:26px;
    height:36px;
}

#up h4 {
	color: #ffffff;	
}

div#up_container, div.container {
    width: 960px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

div#up_container {
	z-index: 3000;	
}

.container-body{
    margin-top:20px !important;	
}



/* --------------------------- HEADER ------------------------------------- */


#up_container a {
    color: #ffffff;
    text-decoration: none;
}

#up_container a:hover, #up_container a:active, #up_container a:focus {
    text-decoration: underline;
}

.logo{
    padding-top:3px;
    padding-right:10px;	
}

.headerMenu, .headerInfos{
    line-height:35px;
    text-shadow: 1px 1px 0px #333;
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(Color=#000000) progid:DXImageTransform.Microsoft.DropShadow(Color=#333333, OffX=1, OffY=1)";
    filter: progid:DXImageTransform.Microsoft.Chroma(Color=#333333)
        progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#333333);
}

.headerInfos{
    line-height:16px;
    padding-top:2px;
    margin-left:20px;
}

.headerInfos img{
    border:1px solid #e5e5e5;
    margin:0 10px;
}

.newFights a{
    color:#ffae00 !important;
    font-weight:bold;
}

#login-link, #register-link{
    cursor:pointer;	
}

#login, #register {
    position:absolute;
    right: 0;
    top:36px;
    background-color:#355e8a;
    border:	1px solid #000;
    border-top:none;
    z-index: 1000;
    text-transform: none;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    max-width: 300px;
}

div.login_element {
    padding: 7px 10px 0 10px;	
    line-height: 15px;
}

.login_element .left{
    text-align: left;
    width:47%;
}


.login_element .right {
    text-align: right;
    width:47%;
}

div.login_bas {
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    border-top:1px solid #333;
}

#login label, #register label {
    line-height: 20px;
}

#login a, #register a{
    text-align: right;
    font-size: 80%;
    color: #9494a5;
    text-decoration:underline;
}

.facebook-login-js, .facebook-login{
    padding:5px 10px;
    text-align:center;
}

div#sub_menu, ul#categories_list {
	background-color: #434343;
}

div#categoriesContainer{
	min-width:150px;
	float:left;
	position: relative;
	z-index: 500;
}

a#categories_button {
	width: 100%;
}

#sub_menu .container {
	position: relative;	
}

#sub_menu .container, #sub_menu .container a {
	color: #ffffff;
	text-decoration: none;
}

ul#categories_list {
	display:none;
	position: absolute;
	top: 28px;
	left: 0;
	list-style-type: none;
}

#categories_list a {
	display: block;
	padding: 6px 8px;
	border: 1px solid #434343;
	border-top: 1px solid #5f5f5f;
}

#categories_list a:hover, #categories_list a:active, #categories_list a:focus, #categories_list a.current{
	background-color: #355e8a;
	border-top: 1px solid #363636;
	border-left: 1px solid #363636;	
	border-bottom: 1px solid #5f5f5f;
	border-right: 1px solid #5f5f5f;	
}

#menu_header_right li {
	display: inline;
	list-style-type: none;
}

#menu_header_right a, a#categories_button {
	display: inline-block;
	padding: 7px
}

#menu_header_right a:hover, #menu_header_right a:active, #menu_header_right a:focus {
	text-decoration: underline;	
}

/* --------------------------- HEADER ------------------------------------- */



div.container{
    color:#434343;
}

div#battle {
    position: relative;
    width: 100%;
}

.art {
    width: 49%;
    text-align: left;
    min-height: 200px;
    background:url(../images/design/ajax-loader.gif) center no-repeat;
    line-height:24px;
}

.art .dueler-img img {
    display: block;
    margin: 0 auto;
    -moz-box-shadow: 3px 3px 3px #434343;
    -webkit-box-shadow: 3px 3px 3px #434343;
    box-shadow: 3px 3px 3px #434343;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#434343')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#434343');
    zoom: 1;
}

.art .dueler-img{
	position:relative;
	z-index:1;	
}

.art .dueler-actions{
	margin-top:3px;	
	height:35px;
}

div#versus {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -103px;
    margin-top: -110px;
    background-image:url(../images/design/vs.png);
    background-repeat:no-repeat;
    background-position:center;
    padding:130px 0 20px 0;
	z-index:10;
}

#versus a{
    text-align:center;
    margin:0 0 0 82px;
}

.submission-comment textarea{
	width:80%;
	float:left;
	height:30px;
	min-width:100px;
}

.submission-comment .button{
	width:15%;	
	float:right;
	height:30px;
	line-height:28px;
	min-width:55px;
}

.leaders{
    width:100%;
    background-image:url(../images/design/bg_blue_section.jpg);
    background-repeat:	repeat-x;
    font-size:85%;
    margin-top:30px;
}

.leaders a{
    color:#fff;	
}

.vertical_title{
    height:168px;
    background-color:#434343;
    width:35px;
    border-left:2px solid #222;
    border-right:1px solid #c5c5c5;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
	float: left;
    margin-right:5px;
}

div#leaders_left_infos {
    width: 100%;
}

div.leader_case {
    position: relative;
    float: left;
    margin-top:5px;
    color:#fff;
}

.leader_case p{
    padding-left:15px;	
}

.leader_case.last{
    width:366px;
    margin-right:0px;
    margin-left:15px;
}

.leader_case img.leaders_img {
    width: 100px;
    height: 100px;
    margin: 15px 15px 0 15px;	
    border:1px solid #fff;
    -moz-box-shadow: 1px 2px 2px #000;
    -webkit-box-shadow: 1px 2px 2px #000;
    box-shadow: 1px 2px 2px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#434343')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#434343');
    zoom: 1;
}

div.medals {
    position: absolute;
    top: 0;
    left: 0;
}

.medals img {
    height: 68px;
    width: 47px;
    margin: 0;
    padding: 0;	
    border:none !important;
}

select#top_list {
	padding: 5px;
}

.top_users{
    list-style:none;
    font-size:105%;
    margin-top:15px;
}

.top_users .number-img{
    font-size:170%;
    width:55px;	
}

.top_users .number-img .number{
    float:left;
    margin:10px 5px 0 0;
}

.top_users .stats{
    width:126px;
    line-height:17px;
    padding-right:2px;
}

.top_users li{
    margin-bottom:10px;
    float:left;
}

.top_users li .button{
    padding-top:8px;
    padding-bottom:8px;
    width:100px;
}

.top_users li p{
    border:1px solid red;	
}

.top_users img{
    height:30px;
    width:30px;
    margin:5px 0 0 0;
    padding:0;	
    border:1px solid #fff;
    float:left;
}

.leader_user_img {
	display: block;
	margin: 5px auto 0 auto;
	overflow: hidden;
	height: 120px;
	-moz-box-shadow: 3px 3px 3px #434343;
	-webkit-box-shadow: 3px 3px 3px #434343;
	box-shadow: 3px 3px 3px #434343;
	width: 120px;
}

span.leader_user_img img {
	width: 120px;
	overflow: hidden;
	text-align: center;
	margin: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.discussNew, .discussVotes{
    width:440px;
}

div.discussTitle{
    border:1px solid #355e8a;
    border-bottom:1px solid #E0E5EA;
    color: #fff;
    width:100%;
    height:30px;
    padding:0;
    background-color: #5284ac;
    background: -moz-linear-gradient(top, #5284ac 0%, #355e8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#5284ac), to(#355e8a));
    background: -o-gradient(#5284ac , #355e8a);
}

.discussTitle a{
    width:85%;
    float:left;
    display:block;
    height:25px;
    padding:7px 5px 0 5px;
    color: #EFEFE0;
    text-decoration:none;	
}

div.discussMessage{
    background-color: #E0E5EA;
    border:1px solid #647991;	
    margin-bottom:10px;
    width:100%;
}

.discussMessage p{
    padding:10px;	
}

.discussLikes{
    float:right;	
    background-image:url(../images/design/thumb.gif);
    background-repeat:no-repeat;
}

.discussLikes a{
    display:block;
    width:100%;	
    padding-left:25px;
}

.comment{
    border-top:1px solid #647991;
    background-color:#efefef;
}

.author{
    font-size:90%;
    font-style:italic;	
}

.comment_author{
    background-color:#efefef;
}


.stats-leaders{
    width:210px;
    float:left;
    margin-right:25px;
	margin-top:10px;
}

.stats-leaders h3{
    font-size:130%;
}

.leader-board{
    width:210px;
    list-style:none;	
    line-height:20px;
    color: #efefef;
}

.leader_info a{
    color: #efefef;
    display:block;
    text-decoration:none;
    height:40px;
    width:210px;
    font-size:90%;	
}

.leader_info .ellipsis{
    padding-top:3px;
    padding-bottom:3px;
}

.leader-board li{
	margin-bottom:10px;	
}

.leader-board .leader_info{
    position:relative;
    height:40px;
    width:210px;
    overflow:hidden;
    
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -moz-box-shadow: 2px 2px 3px #333;
    -webkit-box-shadow: 2px 2px 3px #333;
    box-shadow: 2px 2px 3px #333;
    background-color: #5284ac;
    /*background: -moz-linear-gradient(top, #5284ac 0%, #355e8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#5284ac), to(#355e8a));
    background: -o-gradient(#5284ac , #355e8a);*/
}

.leader-board .leaders_view_profile{
	color:#434343;	
	text-align:right;
	width:100%;
}

.leader-board img{
    border:1px solid #647991;
    float:left;
    margin-right:10px;
	width:50px;
}

.leader-board .submission-name{
	color:#434343;
	width:160px;
	word-break:break-all; 
    text-overflow: ellipsis;  
}

.leader-board .rank{
    position:absolute;
    top:0px;
    left:0px;
    padding:0 4px;
    background-color:#efefef;
    color:#647991;
    border:1px solid #647991;
    line-height:16px;
}

.leader-board .stats{
    position:absolute;
    bottom:0px;
    right:5px;	
}

.more{
	width:200px;
    cursor:pointer;
    display:none;	
}

#secInfo_form input, #secInfo_form select, #secInfo_form textarea {
    padding: 5px;
    margin: 3px 0 15px 0;
    vertical-align: top;
}

#secInfo_form td {
    width: 33%;
}

#secInfo_form label.radio {
    padding: 5px 8px 0 6px;
}

div#showPicture {
    padding: 10px 15px 0 20px;
    width: 50px;
}

div.pictureChoose {
    width: 210px;
}

table.edit_profile {
    border: 1px solid #434343;
    width: 37%;
}

table.submission_list {
    border: 1px solid #434343;
    width: 100%;
}

.edit_profile td, .submission_list td {
	vertical-align: top;
	text-align: left;
	padding: 5px 10px;
}

.edit_profile caption, .submission_list caption {
	background-color: #355E8A;	
	color: #E5E5E5;
	padding: 7px 0;
	border-right: 1px solid #355E8A;
}

.submission_square{
	float:left;
	width:150px;
	margin-right:20px;
	border: 1px solid #355e8a;
	text-align:center;
	margin-bottom:10px;
	list-style:none;
	position:relative;
}

.submission_square .submission{
	-moz-box-shadow: 2px 2px 3px #333;
	-webkit-box-shadow: 2px 2px 3px #333;
	box-shadow: 2px 2px 3px #333;	
	margin-bottom:5px;
}

.submission_square .title{
	background-color: #5284ac;
	color:#e5e5e5;
	margin-bottom:5px;
	width:140px;
	padding:5px;
	display:block;
}

.submission_square a{
	display:block;
	text-decoration:none;	
}

div.submission_info_l {
	float: left;
	width: 490px;
}

.submission_info_l img{
	border:1px solid #434343;
}


.submission_info_l h2 {
	text-align: left;	
}

div.submission_info_r {
	float: right;
	width: 450px;
}

.submission_info_r h4 {
	text-align: left;	
}

.record{
	display:block;
	padding:5px;
}

div.profile_fight {
	text-align: center;
	margin: 5px 10px 15px 5px;
	float: left;
}

.profile_fight p {
	padding: 5px 0;
	margin: 0;
	line-height: normal;	
}

.profile_fight img {
	height: 80px;
	width: 80px;
}

td.profile_text {
	text-align: right;
	font-weight: bold;
}

.win {
	background-color: #c2e4c3;
	color: #36a036;
    font-weight:bold;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lose {
	background-color: #e4c2c2;
	color: #a03636;
    font-weight:bold;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.votes{
	margin-right:33px;
	margin-bottom:20px;
	float:left;
	position:relative;
}

.votes div {
    float: left;
    position: relative;
}

.votes img{
	float:left;
    -moz-box-shadow: 2px 2px 3px #434343;
	-webkit-box-shadow: 2px 2px 3px #434343;
	box-shadow: 2px 2px 3px #434343;

}

.votes .winner {
    display: none;
    position: absolute;
    left: 40%;
    top: 40%;
}

.votes .loser img {
    opacity:0.25;
    filter:alpha(opacity=25); /* For IE8 and earlier */
}

.votes .winner img {
    float: none;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul#badges {
	list-style-type: none;
}

#badges li {
	width: 129px;
	padding: 10px;
	margin: 0;
	display: inline-block;
	text-align:center;
	float:left;
}

.pageInfo h3{
	text-align:left;
	margin-top:20px;	
}

div#lightbox_custom {
	padding: 0 10px 10px 10px;
}

#lightbox_custom img {
	padding: 18px 0 0 15px;	
}

ul.list_footer {
	list-style-type: none;
	padding: 0 0 20px 0;
	margin: 0;	
}

.list_footer li {
	display: inline;
	padding-right: 10px;	
}

.submission_card{
    width:222px;
    float:left;
    margin-right:17px;
    text-align:center;
    margin-bottom:10px;
}

.submission_card_profile{
   width:212px;
}

.submission_card a{
    display:block;
    text-decoration:none;
    margin: 5px 0;
    padding: 10px 0;
}

.submission_card a:hover{
    background-color:#e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

.submission_card img{
    -moz-box-shadow: 3px 3px 3px #434343;
    -webkit-box-shadow: 3px 3px 3px #434343;
    box-shadow: 3px 3px 3px #434343;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#434343')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#434343');
    zoom: 1;
    margin: 5px 0;
}

.alert_newMessage{
    border-bottom: 1px solid #ddd;
    margin:10px 0;
    padding-bottom:40px;
}

.alert_newMessage_last{
    border-bottom:none;
    margin-bottom:0;
}

.alert_newMessage .alert-submission-img{
    float:left;
    border: 1px solid #434343;
    margin-right:15px;
}

.alert_newMessage .author{
    float:right;
    margin:30px 0;
}

.alert_newMessage .author img{
    margin-right:5px;
}

.addthis_toolbox{
    width:800px;
    margin: 0 auto 20px auto;
}

#footer{
    background-image:url(../images/design/footer.jpg);
    background-repeat:no-repeat;
    padding:20px 0;
    text-align:center;
    margin:30px 0 0 0;	
    color:#999;
    font-size:90%;
}




/*Honeypot to avoid bot spamming */
.verif-hp{
	border:1px solid #FF8080;	
}

.showMessages, .showErrors, .showSuccess{
    width:900px;
    background-color:#FF8080;
    border-top:1px solid #F00;
    border-bottom:1px solid #f00;
    color:#333;	
    padding:10px 10px 10px 30px;
    margin:10px 0;
}

.showMessages{
    background-color: #E0E5EA;
    border: 1px solid #C2CAD2;
}

.showSuccess{
    color:#00620c;
    border:1px solid #00620C;
    background-color:#c2e4c3;
}

.ajaxMessage{
	background-color: #E0E5EA;
    border: 1px solid #C2CAD2;
	width:96%;	
	color:#434343;	
	padding:10px 2%;
	clear:both;
}

.ajaxNameError{
    margin-left: 10px;
}

.ajaxError{
	background-color:#FF8080;
    border-top:1px solid #F00;
    border-bottom:1px solid #f00;
    color:#333;
	width:96%;
	color:#434343;	
	padding:10px 2%;
	clear:both;
}

.ajaxValid{
    background-image:url('../images/design/icons/check.gif');
    background-repeat:no-repeat;
    background-position:right;
}

.ajaxInputLoad{
    background-image:url('../images/design/ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:right;
}

.fixBottom{
	position:absolute;
	bottom:0;	
}

.column{
	width:49%;
}

.button {
    background: #c1c1c1 url(../images/design/gradient_btn.jpg) repeat-x;
    border: 1px solid #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px #555;
    -webkit-box-shadow: 1px 1px 1px #555;
    box-shadow: 1px 1px 1px #555;
    color: #002449 !important;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    margin: 5px 0;
    display: inline-block;
    padding: 5px 25px;
}

.button_small{
    margin:0;
    padding:2px 5px;
    font-size:85%;	
}

.button a {
    text-decoration:none;
    color: #355e8a;
    display: block;
    width:100%;
    height:100%;
}

.button a:hover, .button a:active, .button a:focus, .button:hover, .button:active, .button:focus {
    color: #333;
    -moz-box-shadow: 0px 0px 2px #647891;
    -webkit-box-shadow: 0px 0px 2px #647891;
    box-shadow: 0px 0px 2px #647891;
    text-decoration:none;
	background-image:none;
}

.hint{
    color:#999;	
}

.clear {
    clear:both;
    visibility:hidden;
    height:0;
    font-size:0;
    line-height:0;
    margin:0;
    padding:0;
    border:0;
}

.left{
    float:left;	
}

.right{
    float:right;	
}

.text_right {
	text-align: right;	
}

.last{
    margin-right:0px;
    padding-right:0px;	
}

.bloc_middle {
	width: 100%;
	margin: 0 auto;
	text-align: center;	
}

.icon-text{
    vertical-align:middle;
    line-height: 25px;
    padding: 0 0 7px 5px;
}

.light_container{
    padding: 10px 15px;
    background-color:#f6f6f6;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f6f6f6));
    background: -o-gradient(#f2f2f2 , #f6f6f6);
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #f9f9f9;
    margin-bottom: 20px;
    display: inline-block;
    word-wrap: break-word;
}

.light_container h3 {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ddd;
}

.light_container form {
    text-align: left;
}

.half {
	width: 47%;	
}

.large_block{
    width:60%;
}

.small_block{
    width:30%;
}

.full_block{
    width:100%;
}

.center{
    text-align:center;	
}

.center_m{
    margin:0 auto;	
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

a.ellipsis{
    display:inline-block;	
}

.ellipsis.multiline {
    white-space: normal;
}

.grey, .greyText {
	color: #aaaaaa;	
}

.hidden{
    display:none;
}